@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;700&family=Lora:ital,wght@1,700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=noto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 100px;
}

body {
  @apply flex flex-col items-center dark:bg-darkestGray bg-lightestPurple min-h-fit min-w-fit;
}

section {
  @apply my-16 md:p-0;
}

h1 {
  @apply text-4xl md:text-[38px] font-noto dark:text-white dark:font-semibold font-bold;
}

h2 {
  @apply text-3xl md:text-4xl font-noto dark:text-white font-semibold;
}

h3 {
  @apply md:text-xl text-lg font-noto dark:text-orange text-blue;
}

p {
  @apply font-noto text-base leading-loose dark:font-normal font-semibold;
}

form input,
form textarea {
  @apply dark:bg-[#36313C] bg-lightestPurple p-2 text-lg rounded-sm font-amiri;
}

@layer components {
  .content-container {
    @apply h-[500px] px-3 w-full md:w-[1000px] md:px-0;
  }
}

@layer base {
  @font-face {
    font-family: 'Fjalla-One';
    src: url('/fonts/Fjalla-One.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
