@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;700&family=Lora:ital,wght@1,700&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 100px;
}

body {
  @apply flex flex-col items-center dark:bg-darkestPurple bg-lightestPurple min-h-fit min-w-fit;
}

section {
  @apply my-14 md:p-0
  
}

h1 {
  @apply text-4xl md:text-5xl font-yeseva dark:text-white;
}

h2 {
  @apply text-3xl md:text-4xl font-yeseva dark:text-white;
}

h3 {
  @apply md:text-xl text-lg font-yeseva dark:text-orange text-blue
}

p {
  @apply font-amiri text-xl font-semibold dark:font-medium leading-loose;
}

form input, form textarea {
  @apply dark:bg-[#36313C] bg-lightestPurple p-2 text-lg rounded-sm font-amiri
}

@layer components {
  .content-container {
    @apply h-[500px] px-3 w-full md:w-[1000px] md:px-0;
  }
}

@layer base {
  @font-face {
    font-family: 'Amiri-Regular';
    src: url('/fonts/Amiri-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Fjalla-One';
    src: url('/fonts/Fjalla-One.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2.5px 2.5px 0px #7098FE;
  }
  .text-shadow-dark {
    text-shadow: 3px 3px 0px #9C2500;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}